.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 85vw;
  margin: 25px auto;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselButton.prev {
  left: 16px;
}

.carouselButton.next {
  right: 16px;
}

.institutionalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 85vw;
  margin: 0 auto;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; /* Traslucidez */
  border-radius: 16px;
}

.textContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.textContainer h2, .textContainer button {
  pointer-events: auto;
  background: rgba(0,0,0,0.4);
  border: none;
  margin: 8px 0;
  padding: 8px 16px;
  border-radius: 8px;
}