.heroContainer {
    position: relative;
    width: 100%;
    height: 70dvh;
    display: flex;
    overflow: hidden;
}

.heroBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: heroBlur 2s forwards;
  animation-delay: 1.5s;
}

@keyframes heroBlur {
  from {
    filter: blur(0px) brightness(1);
  }
  to {
    filter: blur(4px) brightness(0.7);
  }
}
.heroTexting {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  animation: heroTextGrow 2s forwards;
}

@keyframes heroTextGrow {
  from {
    transform: scale(1);
    filter: brightness(0.4);
    opacity: 0.3;
  }
  to {
    transform: scale(1.2);
    filter: brightness(1.2);
    opacity: 1;
  }
}


.heroTexting h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
  z-index: 1;
}


.heroTexting p {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 2rem;
  max-width: 600px;
}

.heroTexting button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}